<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Score Matcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Resume Score Matcher</h1>
    <form action="\" method="POST" enctype="multipart/form-data">
        <input type="file" name="resume" accept="application/pdf" required>
        <textarea name="job_description" rows="10"  placeholder="Enter job description.." required></textarea>
        <button type="submit">Check Score</button>
        <button type ="reset">Reset</button>
    </form>
    
    {% if score is not none %}
        <h3 id="scoretext">Your Resume Match Score: {{ score }}%</h3>
    {% endif %}
</body>
</html>