<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Score Matcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Resume Score AI</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="resume" accept="application/pdf" required>

    {% if filename %}
        <p>Uploaded file: <b>{{ filename }}</b></p>
    {% endif %}

    <textarea name="job_description" rows="10"
              placeholder="Enter job description.." required>{{ job_description }}</textarea>

    <button type="submit">Check Score</button>
    <button type="submit" formaction="/" formmethod="GET">Reset</button>

    {% if score is not none %}
        <h3>Your Resume Match Score:</h3>
        <input type="text" value="{{ score }}%" readonly>
    {% endif %}
    </form>
</body>
</html>
